
    <title>Welcome</title>

<body>
    <h1>Vaccination Schedule System</h1>
    <div class="container">
    <ul>
        <li><a href="/patient/creation">Add a patient</a></li>
        <li><a href="/administration">Administer Vaccinations</a></li>
    </ul>
   </div>
</body>
<!-- <link rel="stylesheet" href="C:\Users\rutuja.jadhav\PLAYGROUND\00-assignment\src\public\styles\style.css"> -->
 