
    <title>Welcome</title>
<body>
    <h3>Welcome <%- name %> </h3>
   <div class="container">
   <p><%-message%> </p>
   </div>
</body>
<!-- <link rel="stylesheet" href="C:\Users\rutuja.jadhav\PLAYGROUND\00-assignment\src\public\styles\style.css"> -->
 